@font-face {
    font-family: "NinjaStrike";
    src: url("assets/fonts/NinjaStrike.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NinjaStrike", cursive;
    color: yellow;
    text-shadow: 3px 3px 3px #000;
}

body {
    min-height: 100vh;
    background-color: rgb(255, 0, 0);
}

header {
    text-align: center;
    font-size: 3rem;
}

.lantern {
    width: 20%;
    position: fixed;
    top: 10px;
    animation: float 8s ease-in-out infinite;
}

.lantern.left {
    left: 0;
}

.lantern.right {
    right: -1rem;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

main {
    display: flex;
    margin-bottom: 2.5rem;
}

.house {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.roof {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

.block {
    flex: 1;
    border: 5px solid #000;
    padding: 3rem;
    margin: 0 3rem;
}

.window {
    border: inherit;
    padding: 1rem;
    height: 100%;
    text-align: center;
}

.window img {
    width: 50%;
    border-radius: 1rem;
}

.order {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.order h2{
    font-size: 3rem;
}

#order-form {
    margin: 0 auto;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0 2rem;
    font-size: 2rem;
}

#order-form label {
    font-family: initial;
    font-weight: bold;
    font-size: 1.2rem;
}

#order-form input {
    background-color: rgb(234, 169, 71);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-family: initial;
    color: initial;
    font-size: 1.2rem;
    text-shadow: initial;
}

#submit {
    margin-top: 1rem;
    align-self: center;
    cursor: pointer;
    padding: 1rem 2.5rem;
    font-weight: bold;
}

#submit:hover {
    box-shadow: 0 0 1rem rgb(234, 255, 0);
}

#order-table {
    margin-bottom: 2rem;
}

#order-table th, td {
    font-family: initial;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 20px #000;
    background-color: rgb(26, 219, 84);
}

#order-table td {
    background-color: rgb(255, 255, 255);
    box-shadow: initial;
    color: #000;
    text-shadow: initial;
}

#order-table a {
    color: chocolate;
}
